Package: com.miwix.downloadbar14
Name: DownloadBar14
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show a progress bar notification for app downloads!
Maintainer: Lavie
Author: shepgoba
Section: Tweaks
