Package: com.miwix.prog
Name: Prog
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Track and manage your downloads right from the lock screen.
Maintainer: Lavie Gariv, RuntimeOverflow
Author: Lavie Gariv
Icon: file:///Library/Application Support/ProgExtra.bundle/icon.png
Section: Tweaks
